.imagesContainer {
    display: flex;
}

.image {
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 16rem;
    width: 16rem;
    border: 1px solid hsl(0, 0%, 42%);
    border-radius: 20px;
}