.app-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
}